@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Caveat&family=Danfo&family=Kablammo&family=Londrina+Sketch&display=swap');
@font-face {
    font-family: 'Mermaid';
    src: url('fonts/Mermaid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Mermaid', system-ui;
    color: rgb(77, 3, 130);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
}

h1 {
    text-align: center;
    font-family: 'Mermaid', system-ui;
    font-size: 3rem; 
}

#message {
    text-align: center;
    color: rgb(127, 7, 95);
    font-family: "Atma", system-ui, sans-serif !important;
    font-size: 2rem !important;
    margin-top: 2rem;

}

.match-counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(127, 7, 95);
    width: 100%;
    max-width: 50rem;
    font-size: 0.5rem;
    text-align: center;
    font-family: "Atma", system-ui, sans-serif !important;
    margin-top: -2rem; 
    line-height: 0.25; 
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 45rem;
}

#square-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 30rem;
    margin: -1rem 0;
}

.sqr {
    width: 100%;
    padding-top: 100%;
    border-radius: 1rem;
    background-color: rgba(22, 21, 21, 0.7);
    background-image: url('Images/Seashell.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Ariel {
    background-image: url('Images/Ariel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Prince {
    background-image: url('Images/Prince.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Scuttle {
    background-image: url('Images/Scuttle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Triton {
    background-image: url('Images/Triton.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Flounder {
    background-image: url('Images/Flounder.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Sebastian {
    background-image: url('Images/Sebastian.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Ursula {
    background-image: url('Images/Ursula.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Flotsam-Jetsam {
    background-image: url('Images/Flotsam-Jetsam.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem; 
}

button {
    color: #C2A7E2;
    font-family: "Atma", system-ui, sans-serif !important;
    background-color: rgba(22, 21, 21, 0.96);
    font-size: 1.25rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }
    #message {
        font-size: 2rem;
    }
    .match-counter {
        font-size: 2.5rem;
    }
    #square-grid-container {
        max-width: 40rem;
        gap: 1.5rem;
    }
    .sqr {
        font-size: 2rem;
        padding-top: 100%;
    }
    button {
        font-size: 1.5rem;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    #message {
        font-size: 1.75rem;
    }
    .match-counter {
        font-size: 2rem;
    }
    #square-grid-container {
        max-width: 35rem;
    }
    .sqr {
        font-size: 1.75rem;
        padding-top: 100%;
    }
    button {
        font-size: 1.25rem;  
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.5rem;
    }
    #message {
        font-size: 1.5rem;
        margin-top: 1rem; 
    }
    .match-counter {
        font-size: 1.0rem;
        margin-top: -2rem; 
        line-height: 1rem; 
    }
    #square-grid-container {
        gap: 0.5rem;
        margin: -1rem 0;
    }
    .sqr {
        font-size: 1.25rem;
        padding-top: 100%;
    }
    button {
        width: 100%;
        font-size: 1rem;
        margin-top: 1rem;
    }
}